<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1">
<title>holiday</title>


<div class="blue1">
	<table width="100%" cellspacing="0" cellpadding="0" class="fontverdana">
		<tbody>
			<tr>
				<td style="width: 40%; height: 55px;" valign="middle">
					<h2>&nbsp;&nbsp;&nbsp;&nbsp; My Holidays</h2>
				</td>
			</tr>
		</tbody>
	</table>
	<td style="width: 80%; height: 100%; vertical-align: text-top"
		id="tddata">
		<table style="width: 100%; height: 100%" border="0">
			<tbody>
				<tr>
					<td style="vertical-align: top">



						<div style="min-height: 100px;">
							<table width="100%" border="0" align="center" cellpadding="0"
								cellspacing="0">
								<tbody>
									<tr>
										<td>
											<div id="ctl00_CPH_pnlFixed" style="width: 100%;">
												<fieldset>
													<legend> Fixed Holidays for Location </legend>

													<table border="0" cellpadding="5" cellspacing="5"
														width="100%" class="fontverdana">
														<tbody>
															<tr>
																<td>
																	<div>
																		<table cellspacing="0" cellpadding="5" align="Center"
																			rules="all" border="1"
																			id="ctl00_CPH_FixedHoliday_gvFixedHoliday"
																			style="color: #333333; border-width: 1px; border-style: Outset; width: 99%; border-collapse: collapse;">
																			<tbody>
																				<tr align="center"
																					style="color: White; background-color: #5D7B9D; font-family: verdana; font-size: 11px; font-weight: bold; height: 20px;">
																					<th scope="col">Holiday</th>
																					<th scope="col">Date</th>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">New
																						Year</td>
																					<td align="center">01-Jan-2022 (Saturday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Republic
																						Day</td>
																					<td align="center">26-Jan-2022 (Wednesday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Holi</td>
																					<td align="center">18-Mar-2022 (Friday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Good
																						Friday / Bengali New Year</td>
																					<td align="center">15-Apr-2022 (Friday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Id-Uz-Zuha
																						(Bakrid)</td>
																					<td align="center">10-Jul-2022 (Sunday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Raksha
																						Bandhan</td>
																					<td align="center">11-Aug-2022 (Thursday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Independence
																						Day</td>
																					<td align="center">15-Aug-2022 (Monday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Mahatma
																						Gandhi Jayanti</td>
																					<td align="center">02-Oct-2022 (Sunday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Vijaya
																						Dashami( Dusshera)</td>
																					<td align="center">05-Oct-2022 (Wednesday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Deepavali</td>
																					<td align="center">24-Oct-2022 (Monday)</td>
																				</tr>
																				<tr align="center"
																					style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																					<td align="center" style="width: 40%;">Christmas</td>
																					<td align="center">25-Dec-2022 (Sunday)</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>


												</fieldset>
											</div>
										</td>
									</tr>
									<table border="0" cellpadding="5" cellspacing="5" width="100%"
										class="fontverdana">
										<tbody>
											<tr>
												<td><span id="ctl00_CPH_FloatingHoliday1_lblStatic"
													class="fontverdana" style="color: Red;">**You can
														choose any two holidays from the below list.</span></td>
											</tr>
											<tr>
												<td>
													<div>
														<table cellspacing="0" cellpadding="5" align="Center"
															rules="all" border="1"
															id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday"
															style="color: #333333; border-width: 1px; border-style: Outset; width: 99%; border-collapse: collapse;">
															<tbody>
																<tr align="center"
																	style="color: White; background-color: #5D7B9D; font-family: verdana; font-size: 11px; font-weight: bold; height: 20px;">
																	<th scope="col">Holiday</th>
																	<th scope="col">Date</th>

																	<th scope="col">Remarks</th>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Guru Govind
																		Singh Jayanti</td>
																	<td align="center">09-Jan-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl02_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Swami
																		Vivekanand Jayanti</td>
																	<td align="center">12-Jan-2022 (Wednesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl03_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Lohri</td>
																	<td align="center">13-Jan-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl04_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Sankranti
																		(Pongal)</td>
																	<td align="center">14-Jan-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl05_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Subhash
																		Chandra Bose Jayanti</td>
																	<td align="center">23-Jan-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl06_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Basant
																		Panchami</td>
																	<td align="center">05-Feb-2022 (Saturday)</td>

																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Hazarat
																		Ali's Birthday</td>
																	<td align="center">15-Feb-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl08_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Guru
																		Ravidas Janyanti</td>
																	<td align="center">16-Feb-2022 (Wednesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl09_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Shivaji
																		Maharaj Jayanti</td>
																	<td align="center">19-Feb-2022 (Saturday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl10_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Sw.Dayanand
																		Saraswati Jayanti</td>
																	<td align="center">26-Feb-2022 (Saturday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl11_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Mahashivratri</td>
																	<td align="center">01-Mar-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl12_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Holika
																		Dahana</td>
																	<td align="center">17-Mar-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl13_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Holi</td>
																	<td align="center">18-Mar-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl14_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Odisha Day</td>
																	<td align="center">01-Apr-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl15_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Ugadi</td>
																	<td align="center">02-Apr-2022 (Saturday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl16_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Gudi Padwa</td>
																	<td align="center">02-Apr-2022 (Saturday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl17_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Ramnavami</td>
																	<td align="center">10-Apr-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl18_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Dr.
																		Ambedkar Jayanti/Vaisakhi</td>
																	<td align="center">14-Apr-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl19_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Good Friday
																		/ Bengali New Year</td>
																	<td align="center">15-Apr-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl20_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Easter
																		Sunday</td>
																	<td align="center">17-Apr-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl21_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Jumat-ul-Wida
																		/ Shab-i-Qadr</td>
																	<td align="center">29-Apr-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl22_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">May Day</td>
																	<td align="center">01-May-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl23_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Maharshi
																		Parasuram Jayanti</td>
																	<td align="center">02-May-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl24_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Idul Fitr /
																		Basava Jayanti</td>
																	<td align="center">03-May-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl25_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Guru
																		Rabindranath's Birthday</td>
																	<td align="center">09-May-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl26_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Buddha
																		Purnima</td>
																	<td align="center">16-May-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl27_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Telangana
																		Formation Day</td>
																	<td align="center">02-Jun-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl28_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Maharana
																		Pratap Jayanti</td>
																	<td align="center">02-Jun-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl29_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Rath Yatra</td>
																	<td align="center">01-Jul-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl30_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Guru
																		Purnima / Martyr's Day</td>
																	<td align="center">13-Jul-2022 (Wednesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl31_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Muharram</td>
																	<td align="center">09-Aug-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl32_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Rakshabandhan</td>
																	<td align="center">11-Aug-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl33_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Fixed
																			Holiday</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Parsi New
																		Year’s day</td>
																	<td align="center">16-Aug-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl34_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Janmashtami</td>
																	<td align="center">19-Aug-2022 (Friday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl35_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Hartalika
																		Teej</td>
																	<td align="center">29-Aug-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl36_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Ganesh
																		Festival</td>
																	<td align="center">31-Aug-2022 (Wednesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl37_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Onam</td>
																	<td align="center">08-Sep-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl38_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Maharaja
																		Agrasen Jayanti</td>
																	<td align="center">26-Sep-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl39_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Durgashtami
																		(Several States)</td>
																	<td align="center">03-Oct-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl40_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Navmi</td>
																	<td align="center">04-Oct-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl41_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Vijaya
																		Dashami (Dusshera)</td>
																	<td align="center">05-Oct-2022 (Wednesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl42_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Fixed
																			Holiday</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Valmiki
																		Jayanti/Eid-e-Milad</td>
																	<td align="center">09-Oct-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl43_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Weekend</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Karva
																		Chauth</td>
																	<td align="center">13-Oct-2022 (Thursday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl44_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Passed
																			Date</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Naraka
																		Chaturdasi</td>
																	<td align="center">23-Oct-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl45_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Weekend</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Govardhan
																		Puja</td>
																	<td align="center">25-Oct-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl46_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center"></span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Bhai Dooj</td>
																	<td align="center">26-Oct-2022 (Wednesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl47_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center"></span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Chhat Puja</td>
																	<td align="center">30-Oct-2022 (Sunday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl48_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center">Weekend</span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Sardar V.B.
																		Patel Jayanti</td>
																	<td align="center">31-Oct-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl49_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center"></span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Karnataka
																		Rajyotsava</td>
																	<td align="center">01-Nov-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl50_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center"></span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: White; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Guru Nanak
																		Jayanti</td>
																	<td align="center">08-Nov-2022 (Tuesday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl51_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center"></span></td>
																</tr>
																<tr align="center"
																	style="color: #000000; background-color: #F7F6F3; font-family: verdana; font-size: 11px; height: 20px;">
																	<td align="center" style="width: 40%;">Guru Teg
																		Bahadur Martyrdom Day</td>
																	<td align="center">28-Nov-2022 (Monday)</td>

																	<td><span
																		id="ctl00_CPH_FloatingHoliday1_gvFloatingHoliday_ctl52_lblRemarks"
																		class="fontverdana" itemstyle-horizontalalign="Center"></span></td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>




									<tr>

									</tr>

								</tbody>
							</table>


						</div>
					</td>
				</tr>
			</tbody>
		</table>
</div>
</html>